#define QQUWS_CONQUEST_HANDLE_AI_RECRUITERS
	[event]
		name=new turn
		first_time_only=no

		[qquws_announce_conquest_events]
			turn=$turn_number
		[/qquws_announce_conquest_events]

		[for]
			variable=k
			array=conquest_events
			[do]
				[if]
					[variable]
						name=conquest_events[$k].turn
						equals=$turn_number
					[/variable]
					[then]
						[switch]
							variable=conquest_events[$k].e

							[case]
								value=set_recruit_list

								{VARIABLE uwsc_recruit_levels $conquest_events[$k].r_lvls}
								[fire_event]
									name=uwsc_set_new_ai_recruit
								[/fire_event]
							[/case]
							[case]
								value=set_village_income

								{VARIABLE uwsc_new_income $conquest_events[$k].new_income}
								[fire_event]
									name=uwsc_set_ai_village_income
								[/fire_event]
							[/case]
							[case]
								value=schedule_weather_change

								[qquws_apply_weather_change]
									severity=$conquest_events[$k].severity
								[/qquws_apply_weather_change]
							[/case]
							[case]
								value=generate_strong_spawn

								[qquws_add_conquest_tokens]
									value=$conquest_events[$k].value
								[/qquws_add_conquest_tokens]
							[/case]
						[/switch]

						{CLEAR_VARIABLE conquest_events[$k]}
						{VARIABLE_OP k sub 1}
					[/then]
				[/if]
			[/do]
		[/for]
	[/event]

	[event]
		name=uwsc_set_new_ai_recruit
		first_time_only=no

		[store_unit]
			[filter]
				side=$uws_game.ai_sides
				canrecruit=yes
			[/filter]
			
			variable=ai_recruiters
			mode=always_clear
		[/store_unit]

		[for]
			variable=l
			array=ai_recruiters
			[do]
				[qquws_generate_new_recruit_list]
					levels=$uwsc_recruit_levels
				[/qquws_generate_new_recruit_list]

				[modify_unit]
					[filter]
						id=$ai_recruiters[$l].id
					[/filter]

					extra_recruit=$uwsc_recruit_list
				[/modify_unit]
			[/do]
		[/for]
	[/event]

	[event]
		name=uwsc_set_ai_village_income
		first_time_only=no

		[store_unit]
			[filter]
				side=$uws_game.ai_sides
				canrecruit=yes
			[/filter]
			
			variable=ai_recruiters
			mode=always_clear
		[/store_unit]

		[for]
			variable=l
			array=ai_recruiters
			[do]
				[qquws_generate_new_recruit_list]
					levels=$uwsc_recruit_levels
				[/qquws_generate_new_recruit_list]

				[modify_side]
					side=$ai_recruiters[$l].side
					village_gold=$uwsc_new_income
				[/modify_side]
			[/do]
		[/for]
	[/event]

	# When an AI side recruits, try to spend its boost tokens (from
	# generate_strong_spawn) on a random affordable improvement for the new unit.
	[event]
		name=recruit
		first_time_only=no

		[filter]
			side=$uws_game.ai_sides
		[/filter]

		[qquws_roll_recruit_improvement]
			side=$unit.side
		[/qquws_roll_recruit_improvement]

		[if]
			[variable]
				name=uwsc_improvement_kind
				not_equals=""
			[/variable]
			[then]
				{VARIABLE uws_spawn.type $unit.type}
				{VARIABLE uws_spawn.final_boss no}
				{VARIABLE new_unit_spawn_id $unit.id}
				{VARIABLE new_unit_bulky_value 0}
				{VARIABLE new_unit_beefy_value 0}
				{VARIABLE new_unit_armored_value 0}
				{VARIABLE new_unit_fast_value 0}
				{VARIABLE new_unit_agile_value 0}
				{VARIABLE new_unit_aggressive_value 0}
				{VARIABLE new_unit_spawn_champion ""}
				{VARIABLE new_unit_spawn_minion ""}
				{VARIABLE new_unit_spawn_quiet_bonus_id ""}

				[switch]
					variable=uwsc_improvement_kind

					[case]
						value=bulky
						{VARIABLE new_unit_bulky_value $uwsc_improvement_value}
					[/case]
					[case]
						value=beefy
						{VARIABLE new_unit_beefy_value $uwsc_improvement_value}
					[/case]
					[case]
						value=fast
						{VARIABLE new_unit_fast_value $uwsc_improvement_value}
					[/case]
					[case]
						value=armored
						{VARIABLE new_unit_armored_value $uwsc_improvement_value}
					[/case]
					[case]
						value=agile
						{VARIABLE new_unit_agile_value $uwsc_improvement_value}
					[/case]
					[case]
						value=aggressive
						{VARIABLE new_unit_aggressive_value $uwsc_improvement_value}
					[/case]
					[case]
						value=champion
						# resolve the rand slots into concrete champion bonus codes. the full
						# generate_champion_data pipeline lives in QQUWS_SPAWN (not loaded by
						# conquest), so we call the generator directly - without qquws_champion_data
						# it just draws from the generic pools.
						{VARIABLE prespawn_buff_a rand}
						{VARIABLE prespawn_buff_b rand}
						{VARIABLE prespawn_buff_c rand}

						[qquws_generate_random_champion]
							var_buff_a=prespawn_buff_a
							var_buff_b=prespawn_buff_b
							var_buff_c=prespawn_buff_c
							full_buff=$uwsc_champion_full_buff
						[/qquws_generate_random_champion]

						{VARIABLE new_unit_spawn_champion $prespawn_generated_buff}
					[/case]
				[/switch]

				[fire_event]
					name=apply_new_unit_bonus
				[/fire_event]
			[/then]
		[/if]
	[/event]
#enddef
