[unit_type]
    id=QQ_bone_horror
    name="Wretched Bones of Alhazred"
    race=undead
	
    image="units/uws/bonedemons.png"
    profile="portraits/undead/ancient-lich.png"~SCALE(400,400)
    small_profile="portraits/undead/ancient-lich.png~SCALE(205,205)"
    hitpoints=109
    movement_type=undeadspirit
    movement=8
    experience=400
    level=6
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    [trait]
        id=immune_to_specials
        name="mighty"
        description="Mighty units are immune to various spells and abilities."
        availability=musthave
    [/trait]
    cost=99
    usage=fighter
    description="Evil remains of a powerful Necromancer"
    {DEFENSE_ANIM "units/uws/bonedemons.png" "units/uws/bonedemons.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    #die_sound=yeti-die.ogg
    [abilities]
        [dummy]
            id=qquws_necromancers_bane
            name="fear grip"
            description="Each time this unit attacks then all enemies within range 4 from the attacked unit receive 15% damage reduction and 35% if the unit is killed. This debuff lasts for a duration of one turn. Fearless units and leaders receive half of the reduction."
        [/dummy]
        [dummy]
            id=qquws_dark_pact
            name="dark pact"
            description="When this unit dies, it takes it's killer with him."
        [/dummy]
    [/abilities]
    [resistance]
        blade=75
        pierce=65
        impact=120
        fire=105
        cold=30
        arcane=140
    [/resistance]
    [defense]
        sand=60
    [/defense]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=126
            image="units/uws/bonedemons.png"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/uws/bonedemons.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/uws/bonedemons.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/uws/bonedemons.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/uws/bonedemons.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/uws/bonedemons.png"
        [/frame]
    [/defend]
    [attack]
        name=claws
        description="dead claws"
        icon="attacks/staff-necromantic.png"
        type=blade
        range=melee
        damage=20
        number=6
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]
    [attack]
        name=feeding
        description="flesh feeding"
        icon="attacks/fangs.png"
        type=blade
        range=melee
        damage=24
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=souldrain
        description="soul drain"
        icon="attacks/curse.png"
        type=arcane
        range=ranged
        damage=21
        number=5
        [specials]
            {WEAPON_SPECIAL_SLOW}
            [drains]
                id=drains
                name="drains 65%"
                description="This unit drains health from living units, healing itself for half the amount of damage it deals (rounded down)."
                value=65
            [/drains]
            [damage]
    			id=absorb
    			name="weaken 40%"
    			description="When used offensively this attack absorbs 40% of the damage dealt by an enemy strike."
    			multiply=0.6
    			apply_to=opponent
    			active_on=offense
    	    [/damage]
        [/specials]
    [/attack]
[/unit_type]
